.progress-bar-body {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
    box-sizing: border-box;
}

.progress-bar-progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	height: 30px;
	width: 300px;
    box-sizing: border-box;
}

.progress-bar-progress-done {
	background: linear-gradient(to left, #6b58ff, #2e73ff);
	box-shadow: 0 3px 3px -5px #1692ff, 0 2px 5px #2752ff;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
    box-sizing: border-box;
}